<section id="side-bar" [ngClass]="{ 'open' : menu_open }">
  <nav id="side-menu">
    <header (click)="toggleMenu()"><i class="ionicons">&#xf406;</i>Close</header>
    <div class="content">

      <div class="menu-group" *ngFor="let group of groups">
        <header *ngIf="group.title">{{group.title}}</header>
        <a *ngFor="let link of group.children" [routerLink]="[link.path]" [ngClass]="{ 'selected' : link.active, 'link-disabled' : link.disabled }"><i class="ionicons" [innerHTML]="link.icon"></i>{{link.title}}</a>
      </div>

      <footer class="text-muted">
        <span>TeamApp alpha v. 0.6.2</span>
      </footer>
    </div>
  </nav>
  <div class="shadow-layer" *ngIf="menu_open" (click)="toggleMenu()"></div>
</section>
