@import '../../../../assets/styles/variables';

#side-bar {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zi-sidebar;
  transition: all 0ms linear 250ms;

  &.open {
    width: 100vw;
    height: 100vh;
    transition: all 0ms linear 0ms;
    #side-menu {
      transform: translateX(0);
    }
    .shadow-layer {
      opacity: 0.8;
    }
  }
  #side-menu {
    height: 100%;
    width: auto;
    background: white;
    position: relative;
    z-index: 1;
    display: inline-block;
    transform: translateX(-100%);
    transition: transform 250ms;

    .content {
      padding-bottom: 10px;
      & > header {
        display: flex;
        align-items: center;
        height: $menu_height;
        margin-bottom: 10px;
        padding: 0 15px;
        text-transform: uppercase;
        font-size: $fs_smaller;
        cursor: pointer;
        color: $text_1;
        font-weight: 700;
        border-bottom: 2px solid $text_4;
        &:hover {
          color: $main
        }
        i {
          font-size: $fs_larger;
          margin-right: 10px;
        }
      }
      footer {
        font-size: $fs_smallest;
        padding: 10px 15px;
      }
    }

    .content, .menu-group {
      display: flex;
      flex-direction: column;
    }

    .menu-group {
      header {
        padding: 10px 15px;
        text-transform: uppercase;
        font-size: $fs_smallest;
        color: $text_2;
      }
      border: 1px solid;
      border-color: $text_4 transparent $text_4 transparent;
    }

    a {
      padding: 10px 15px 10px 10px;
      font-size: $fs_smaller;
      color: $text_1;
      &.selected {
        font-weight: 600;
        background: rgba($main, 0.075);
        i {
          color: $main;
        }
      }
      &:hover {
        background: rgba($main, 0.075);
        text-decoration: none;
      }
      display: flex;
      align-items: center;

      i {
        width: 32px;
        text-align: center;
        margin-right: 10px;
        font-size: $fs_biggest;
      }

    }

  }

  .shadow-layer {
    opacity: 0;
    background: black;
  }

}
