@import "../../../../../node_modules/compass-mixins/lib/compass/css3";
@import "../../../../assets/partials/variables";

.tiles{
  max-width: 1200px;
  margin: 25px auto 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tiles div {
  padding: 15px;
  width: 80%;
  margin: 20px auto;
  border: 3px solid $main;
  z-index: 120;
  border-radius: 12px;
  transition: all 1s;
  box-shadow: 0 0px 10px rgba(0, 0, 0, .2);
}

.tiles div h3 {
  font-weight: 800;
  font-size: 1.2em;
  text-align: center;
}

.tiles div:hover {
  background-color: $main;
  color: $white;
  box-shadow: 0 0px 30px rgba($main, .9)
}

@media (min-width: 900px){
  .tiles {
    display: flex;
  }

  .tiles div {
    flex-basis: 20%;
    width: none;
    margin: 0 5px 40px 5px;
  }
}
