@import "../../../../assets/styles/variables";

.page-header {

  h2 {
    text-transform: capitalize;
    display: flex;
    align-items: center;
  }

  nav {
    flex-grow: 1;
  }

  .back-button {

    background: white;
    //padding: 10px;
    width: 42px;
    height: 42px;
    text-align: center;
    color: $main;
    font-size: $fs_large;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 10px 35px -5px rgba(black, 0.1);
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms;

    &:hover {
      box-shadow: 0 10px 35px -5px rgba(black, 0.25);
    }

    &:focus, &:active {
      transform: scale(0.85);
    }

  }

}

.breadcrumbs {
  font-size: $fs_small;
  text-transform: capitalize;
  span:not(:last-of-type)::after {
    font-family: 'Ionicons', sans-serif;
    content: '\f3d1';
    margin: 0 5px;
  }
}
