<!--<div class="sidebar-wrap" [ngClass]="{ 'minified' : minified }">-->
  <!--<nav id="side-bar">-->
    <!--<a [routerLink]="['/user']" class="px-4"><i class="ionicons">&#xf448;</i><span>Home</span></a>-->
    <!--<span class="divider"></span>-->
    <!--<div class="sidebar-group selected" [ngClass]="{ 'expanded' : groups.admin.expanded }">-->
      <!--<a (click)="expandGroup('admin')" class="px-4"><i class="ionicons">&#xf450;</i><span>Admin</span></a>-->
      <!--<div class="sidebar-subgroup">-->
        <!--<a [routerLink]="['/admin']" class="px-4 group-heading"><span>Admin Panel</span></a>-->
        <!--<a [routerLink]="['/admin/registration-requests']" class="px-4 selected"><i class="ionicons">&#xf1ac;</i><span>Registration Requests</span></a>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="bottom">-->
      <!--<span class="divider"></span>-->
      <!--<a [routerLink]="['/settings']" class="px-4"><i class="ionicons">&#xf15f;</i><span>Settings</span></a>-->
    <!--</div>-->
  <!--</nav>-->
<!--</div>-->
<div class="sidebar-wrap" [ngClass]="{ 'minified' : minified }">
  <nav id="side-bar">
    <a [routerLink]="['/user']" class="px-4"><i class="ionicons">&#xf448;</i><span>Home</span></a>
    <span class="divider"></span>
    <div class="bottom">
      <span class="divider"></span>
      <a [routerLink]="['/settings']" class="px-4"><i class="ionicons">&#xf15f;</i><span>Settings</span></a>
    </div>
  </nav>
</div>
