<div class="container">

  <div class="row">
    <ns-page-header class="py-4 px-2 col-12"></ns-page-header>

      <div class="col-12">
        <form class="form row" [formGroup]="form" (submit)="onSubmit(form.value)">

          <div class="loader-container" *ngIf="submitted">
            <div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div>
          </div>

          <div class="packix-tile bg-white col-12 p-3">
            <div class="row">
              <div class="group d-flex flex-column col-lg-6"
                   [ngClass]="{ 'error' : name.invalid && (name.dirty || name.touched) }">
                <input type="text" id="name" formControlName="name">
                <label for="name">Name</label>
                <small class="text-danger" *ngIf="name.hasError('required') && (name.dirty || name.touched)">Name is required</small>
                <small class="text-danger" *ngIf="name.hasError('minlength')">Name is too short (min 5 characters)</small>
              </div>
              <div class="group d-flex flex-column col-lg-6"
                   [ngClass]="{ 'error' : roles.invalid && (roles.dirty || roles.touched) }">
                <ng-select
                  [items]="authRoles"
                  [multiple]="true"
                  [closeOnSelect]="false"
                  bindLabel="roles"
                  name="roles"
                  formControlName="roles">
                </ng-select>
                <label>Roles</label>
                <small class="text-danger" *ngIf="roles.hasError('required') && (roles.dirty || roles.touched)">You must specify at least one role</small>
              </div>
              <div class="group d-flex flex-column col-lg-6"
                   [ngClass]="{ 'error' : username.invalid && (username.dirty || username.touched) }">
                <input type="text" id="username" formControlName="username" required>
                <label for="username">Username</label>
                <small class="text-danger" *ngIf="username.hasError('required') && (username.dirty || username.touched)">Username is required</small>
                <small class="text-danger" *ngIf="username.hasError('minlength')">Username is too short (min 5 characters)</small>
                <small class="text-danger" *ngIf="username.hasError('maxlength')">Username is too long (max 20 characters)</small>
                <small class="text-danger" *ngIf="username.hasError('in-use')">Username is in use. Please choose different</small>
                <small class="text-danger" *ngIf="username.hasError('is-upper-case') && username.value">For security reasons we only allow lowercase alphanumerics</small>
              </div>
              <div class="group d-flex flex-column col-lg-6" [ngClass]="{ 'error' : email.invalid && (email.dirty || email.touched) }">
                <input type="email" id="email" formControlName="email">
                <label for="email">Email</label>
                <small class="text-danger" *ngIf="email.hasError('required') && (email.dirty || email.touched)">Email is required</small>
                <small class="text-danger" *ngIf="email.hasError('email')">Invalid Email</small>
                <small class="text-danger" *ngIf="email.hasError('in-use')">Email is already in use</small>
              </div>
            </div>
          </div>

          <div class="packix-tile bg-white col-12 my-4 py-3 d-flex">
            <input type="submit" class="button large mx-3 flex-grow-1 flex-md-grow-0 ml-0 ml-md-auto" value="Save" [ngClass]="{'btn-disabled': (!form.valid && form.touched || !isChanged() ) }">
          </div>

        </form>
      </div>

  </div>
</div>
