/* You can add global styles to this file, and also import other style files */
@import "assets/styles/forms";
@import "assets/styles/buttons";

.page-wrapper {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.page-wrapper-c-all {
  @extend .page-wrapper;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-main {
  color: $main;
}

