<div class="container">

  <div class="dialog-window dialog-window-secondary" *ngIf="oneEmailOpen">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Invite</h5>
          <button type="button" class="reset close" aria-label="Close" (click)="oneEmailOpen = false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-muted">
          <span>Fill in an email of a person you want to invite and we will send them a registration link!</span>
          <form class="form" [formGroup]="inviteOneForm">
            <div class="group d-flex flex-column" [ngClass]="{ 'error' : oneEmail.hasError('email') || oneEmail.hasError('required') && (oneEmail.dirty || oneEmail.touched) }">
              <input type="email" id="email" formControlName="email">
              <label for="email">Email Address</label>
              <small class="text-danger" *ngIf="oneEmail.hasError('required') && (oneEmail.dirty || oneEmail.touched)">Email address is required</small>
              <small class="text-danger" *ngIf="oneEmail.hasError('email')">This email is invalid</small>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="button large btn-cancel" (click)="inviteOneForm.reset(); oneEmailOpen = false">Cancel</button>
          <button class="button large btn-primary" (click)="sendEvite(oneEmail.value)">Invite</button>
        </div>
      </div>
    </div>
  </div>

  <div class="dialog-window dialog-window-secondary" *ngIf="moreEmailOpen">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Invite More</h5>
          <button type="button" class="reset close" aria-label="Close" (click)="moreEmailOpen = false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-muted">
          <span>Fill in an email of a person you want to invite, click on the "+" sign button and then add more emails to send invitation to.</span>
          <form class="form" [formGroup]="inviteMoreForm">
            <div class="group d-flex flex-column" [ngClass]="{ 'error' : moreEmail.hasError('empty-list') || moreEmail.hasError('duplicate') || moreEmail.hasError('email') || (moreEmail.hasError('required') && (moreEmail.dirty || moreEmail.touched) && invitationEmails.length === 0) }">
              <div class="add-input">
                <input type="email" id="email-more" formControlName="email" placeholder="Email Address" (keyup.enter)="addEvite(moreEmail.value)">
                <button class="reset add-input-btn close-button" (click)="addEvite(moreEmail.value)"><span>&#xf102;</span></button>
              </div>
              <small class="text-danger" *ngIf="moreEmail.hasError('required') && (moreEmail.dirty || moreEmail.touched) && invitationEmails.length === 0">Email address is required</small>
              <small class="text-danger" *ngIf="moreEmail.hasError('duplicate')">This email is already in your list of recipients</small>
              <small class="text-danger" *ngIf="moreEmail.hasError('email')">This email is invalid</small>
            </div>
          </form>
          <ul class="list-group">
            <li *ngFor="let inv of invitationEmails" class="list-group-item d-flex justify-content-between align-items-center">
              {{inv}}
              <button class="reset close-button text-danger" (click)="removeInvEmail(inv)"><span>&#xf4c4;</span></button>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button class="button large btn-cancel" (click)="closeMoreEmail()">Cancel</button>
          <button class="button large btn-primary" (click)="sendEvites(invitationEmails)" [ngClass]="{ 'btn-disabled' : invitationEmails.length === 0 }">Invite</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <ns-page-header class="py-4 px-2 col-12"></ns-page-header>

    <div class="col-12 d-flex d-md-block mt-4">
      <section id="search" class="row flex-grow-1">
        <form class="form packix-tile bg-white p-4 my-2 my-md-0 flex-grow-1 col-sm-12 col-md-auto order-1 order-md-0">
          <div class="group d-flex flex-column m-0">
            <input type="search" id="search-box" (keyup)="updateFilter($event)">
            <label for="search-box">Search requests</label>
          </div>
        </form>
        <div class="packix-tile bg-white p-4 my-2 my-md-0 d-flex justify-content-between flex-column col-sm-12 ml-md-4 col-md-auto">
          <button class="button large btn-primary mb-3" (click)="oneEmailOpen = true">Invite One</button>
          <button class="button large btn-primary" (click)="moreEmailOpen = true">Invite More</button>
        </div>
      </section>
    </div>

    <div class="col-sm-12 my-2 my-md-4">
      <section id="table" class="row bg-white packix-tile p-0">
        <ngx-datatable
          #myTable
          class="material col-12 p-0"
          [rows]="rows"
          [sortType]="'multi'"
          [columnMode]="'force'"
          [headerHeight]="'auto'"
          [footerHeight]="'auto'"
          [rowHeight]="'auto'"
          [rowClass]="rowClass"
          [limit]="10"
          [sorts]="[{prop: 'approval.approved', dir: 'asc'}]"
          [messages]="{emptyMessage: 'No Requests to Show', totalMessage: 'request(s)'}"
          (sort)="onSort($event)"
          (page)="onPage($event)">


          <!-- Row Detail Template -->
          <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template class="row">
              <div class="col-12 p-0 flex-grow-1">
                <ul class="list-group text-muted small">
                  <li class="list-group-item justify-content-between d-flex flex-wrap"><b>Name:</b> {{row.name || 'n/a'}}</li>
                  <li class="list-group-item justify-content-between d-flex flex-wrap"><b>Email:</b> {{row.email}}</li>
                  <li class="list-group-item justify-content-between d-flex flex-wrap"><b>Requested On:</b> {{row.requestedOn}}</li>
                  <li class="list-group-item justify-content-between d-flex flex-wrap">
                    <b>Approved:</b>
                    <button class="button small btn-primary" *ngIf="!row.approval.approved" (click)="approveRequest(row.registration.registrationHash)">Approve</button>
                    <strong *ngIf="row.approval.approved && !!row.approval.approvedByUser"><small>by </small>{{row.approval.approvedByUser}}</strong>
                    <strong *ngIf="row.approval.approved && !(!!row.approval.approvedByUser)">{{row.approval.approved}}</strong>
                  </li>
                  <li class="list-group-item justify-content-between d-flex flex-wrap"><b>Registered:</b> {{row.registration.userRegistered}}</li>
                </ul>
              </div>
            </ng-template>
          </ngx-datatable-row-detail>

          <!-- Column Templates -->
          <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false"
            *ngIf="mobile">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a href="javascript:void(0)"
                 title="Expand/Collapse Row"
                 (click)="toggleExpandRow(row)"
                 class="desktop-hidden ionicons">{{expanded ? '&#xf280;' : '&#xf284;'}}</a>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Email" [flexGrow]="1" [minWidth]="150" [sortable]="true">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Name" [flexGrow]="1" *ngIf="!mobile" [sortable]="true" prop="name">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="mobile-hidden" (click)="sort()">{{column.name}}</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span class="mobile-hidden">{{value || 'n/a'}}</span>
            </ng-template>
          </ngx-datatable-column>


          <ngx-datatable-column name="Requested On" [flexGrow]="1" *ngIf="!mobile" [sortable]="true" prop="requestedOn">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="mobile-hidden" (click)="sort()">{{column.name}}</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <span class="mobile-hidden">{{value}}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column #regcol name="Registered" prop="registration.userRegistered" [flexGrow]="1" *ngIf="!mobile" [sortable]="true">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="mobile-hidden" (click)="sort()">{{column.name}}</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span class="mobile-hidden">{{value}}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Approved" prop="approval.approved" [flexGrow]="1" *ngIf="!mobile" [sortable]="true">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="mobile-hidden" (click)="sort()">{{column.name}}</span>
            </ng-template>
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <button class="button medium btn-primary" *ngIf="!row.approval.approved" (click)="approveRequest(row.registration.registrationHash)">Approve</button>
              <button class="button medium btn-cancel btn-disabled" *ngIf="row.approval.approved && !!row.approval.approvedByUser">Approve</button>
              <button class="button medium btn-cancel btn-disabled" *ngIf="row.approval.approved && !(!!row.approval.approvedByUser)">Approve</button>
            </ng-template>
          </ngx-datatable-column>


        </ngx-datatable>
      </section>
    </div>

  </div>

</div>
