@import "../../../../assets/styles/variables";

:host {
  width: 100%;
  max-height: calc(100vh - #{$menu_height});
  min-height: calc(100vh - #{$menu_height});
  overflow: scroll;
  background: #F5F7FA;
  box-sizing: border-box;
  padding: 0 2rem;
  @media only screen and (max-width: 768px) { padding: 0 1rem }
}

.add-input {
  display: flex;
  input {
    flex-grow: 1;
  }
  .add-input-btn {
    margin-left: 10px;
    line-height: 24px;
    padding: 10px;
    width: 44px;
    border-radius: 5px;
    font-size: $fs_big;
    color: $black;
    outline: none;
    text-align: center;
    background-color: $text_5;
    border: 1px solid $text_3;
    cursor: pointer;
  }
}

.dialog-window-secondary {
  z-index: $zi-modals - 1;
}

.close-button {
  font-family: 'Ionicons', sans-serif;
  cursor: pointer;
  font-size: $fs_biggest;
  outline: none;
}

@media screen and (max-width: 800px) {
  .desktop-hidden {
    display: initial;
  }
  .mobile-hidden {
    display: none !important;
  }
}
@media screen and (min-width: 800px) {
  .desktop-hidden {
    display: none;
    max-width: 0;
  }
  .mobile-hidden {
    display: initial;
  }
}

.field-pre {
  padding-right: 15px;
  border-right: 1px solid #F5F7FA;
  background-color: red;
}

/deep/ .muted {
  opacity: 0.55 !important;
  &:hover {
    opacity: 1;
  }
}
