@import "../../../../assets/styles/variables";

:host {
  display: block;
  width: 100vw;
  min-height: 100vh;
  background: #F5F7FA;
}

.page-header {

  nav {
    flex-grow: 1;
  }

  .help-button {

    background: white;
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    color: $main;
    font-size: $fs_large;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 10px 35px -5px rgba(black, 0.1);
  }

}

.breadcrumbs {
  font-size: $fs_small;
  span:not(:last-of-type)::after {
    font-family: 'Ionicons', sans-serif;
    content: '\f3d1';
    margin: 0 5px;
  }
}

.add-input {
  display: flex;
  input {
    flex-grow: 1;
  }
  .add-input-btn {
    margin-left: 10px;
    line-height: 24px;
    padding: 10px;
    width: 44px;
    border-radius: 5px;
    font-size: $fs_big;
    color: $black;
    outline: none;
    text-align: center;
    background-color: $text_5;
    border: 1px solid $text_3;
    cursor: pointer;
  }
}

.dialog-window-secondary {
  z-index: 998;
}

.close-button {
  font-family: 'Ionicons', sans-serif;
  cursor: pointer;
  font-size: $fs_biggest;
  outline: none;
}
