<div class="container px-4 px-sm-0">

  <div class="dialog-window dialog-window-secondary" *ngIf="oneEmailOpen">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Invite</h5>
          <button type="button" class="reset close" aria-label="Close" (click)="oneEmailOpen = false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-muted">
          <span>Fill in an email of a person you want to invite and we will send them a registration link!</span>
          <form class="form" [formGroup]="inviteOneForm">
            <div class="group d-flex flex-column" [ngClass]="{ 'error' : oneEmail.hasError('email') || oneEmail.hasError('required') && (oneEmail.dirty || oneEmail.touched) }">
              <input type="email" id="email" formControlName="email">
              <label for="email">Email Address</label>
              <small class="text-danger" *ngIf="oneEmail.hasError('required') && (oneEmail.dirty || oneEmail.touched)">Email address is required</small>
              <small class="text-danger" *ngIf="oneEmail.hasError('email')">This email is invalid</small>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="button large btn-cancel" (click)="inviteOneForm.reset(); oneEmailOpen = false">Cancel</button>
          <button class="button large btn-primary" (click)="sendEvite(oneEmail.value)">Invite</button>
        </div>
      </div>
    </div>
  </div>

  <div class="dialog-window dialog-window-secondary" *ngIf="moreEmailOpen">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Invite More</h5>
          <button type="button" class="reset close" aria-label="Close" (click)="moreEmailOpen = false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-muted">
          <span>Fill in an email of a person you want to invite, click on the "+" sign button and then add more emails to send invitation to.</span>
          <form class="form" [formGroup]="inviteMoreForm">
            <div class="group d-flex flex-column" [ngClass]="{ 'error' : moreEmail.hasError('empty-list') || moreEmail.hasError('duplicate') || moreEmail.hasError('email') || (moreEmail.hasError('required') && (moreEmail.dirty || moreEmail.touched) && invitationEmails.length === 0) }">
              <div class="add-input">
                <input type="email" id="email-more" formControlName="email" placeholder="Email Address" (keyup.enter)="addEvite(moreEmail.value)">
                <button class="reset add-input-btn close-button" (click)="addEvite(moreEmail.value)"><span>&#xf102;</span></button>
              </div>
              <small class="text-danger" *ngIf="moreEmail.hasError('required') && (moreEmail.dirty || moreEmail.touched) && invitationEmails.length === 0">Email address is required</small>
              <small class="text-danger" *ngIf="moreEmail.hasError('duplicate')">This email is already in your list of recipients</small>
              <small class="text-danger" *ngIf="moreEmail.hasError('email')">This email is invalid</small>
            </div>
          </form>
          <ul class="list-group">
            <li *ngFor="let inv of invitationEmails" class="list-group-item d-flex justify-content-between align-items-center">
              {{inv}}
              <button class="reset close-button text-danger" (click)="removeInvEmail(inv)"><span>&#xf4c4;</span></button>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button class="button large btn-cancel" (click)="closeMoreEmail()">Cancel</button>
          <button class="button large btn-primary" (click)="sendEvites(invitationEmails)" [ngClass]="{ 'btn-disabled' : invitationEmails.length === 0 }">Invite</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <header class="page-header d-flex py-4 px-2 col-12">
      <nav>
        <h2>Registration Requests</h2>
        <div class="breadcrumbs">
          <span><a href="#">Home</a></span>
          <span><a href="#">Admin Panel</a></span>
          <span>Registration Requests</span>
        </div>
      </nav>
      <!--<button class="reset help-button"><span class="ionicons">&#xf197;</span></button>-->
    </header>

    <div class="col-12">
      <section id="search" class="row">
        <form class="form packix-tile bg-white p-4 my-2 my-md-0 flex-grow-1 col-sm-12 col-md-auto">
          <div class="group d-flex flex-column m-0">
            <input type="search" id="search-box" (keyup)="updateFilter($event)">
            <label for="search-box">Search requests</label>
          </div>
        </form>
        <div class="packix-tile bg-white p-4 my-2 my-md-0 d-flex justify-content-between flex-column col-sm-12 ml-md-4 col-md-auto">
          <button class="button large btn-primary mb-3" (click)="oneEmailOpen = true">Invite One</button>
          <button class="button large btn-primary" (click)="moreEmailOpen = true">Invite More</button>
        </div>
      </section>
    </div>

    <div class="col-12 my-4">
      <section id="table" class="row bg-white packix-tile">
        <ngx-datatable
          class="material col-12"
          [rows]="rows"
          [columns]="columns"
          [sortType]="'multi'"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50"
          [limit]="10">
        </ngx-datatable>
      </section>
    </div>
  </div>

</div>
